
th {
    background-color: rgb(247, 247, 247);
}

.throwsRow {
    height: 60px;
}

.scoreRow {
    height: 100px;
}

.throw:hover {
    background-color: #e4894c;
}

.throw:hover .selected {
    background-color:  #e4894c;
}

.disabled:hover {
    background-color: lightgray;
}

.selected {
    background-color:  #db9156;
}

.btn {
    margin-right: 5px;
}

.btn-col {
    text-align: center;
}

.score-btn {
    border-color: #0a0f22;
    color: #0a0f22;
}

.score-btn:hover {
    border: #bc2936;
    background-color: #bc2936;
    color: white;
}



/* red #bc2936 */
/* orange #d29362 */
/* teal #387a6e */
/* black #0a0f22 */