
th {
    background-color: rgb(247, 247, 247);
}

.throwsRow {
    height: 60px;
}

.scoreRow {
    height: 100px;
}

.throw:hover {
    background-color: #ffddcf;
}

.throw:hover .selected {
    background-color:  #ffa07a;
}

.disabled:hover {
    background-color: lightgray;
}

.selected {
    background-color:  #ffa07a;
}

.btn {
    margin-right: 5px;
}

.btn-col {
    text-align: center;
}