.datetime {
    border: none;
}

.react-datetime-picker__wrapper {
    border-radius: 5px;
    border-color: rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
}

.game-card {
    background-color: white;
    padding-bottom: 30px;
}

label {
    font-weight: bold;
}

h3 {
    margin-bottom: 10px;
}